*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;

  /*user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  -moz-user-select:none;*/
}

.navbar{
  margin-left:25px;
  margin-right:25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

a.navbar-brand{
  color:#fff;
  text-decoration:none;
}

.navbar-inverse .navbar-brand{
  color:#fff;
}

.navbar-default .navbar-nav > li > a:hover{
  color:#fff;
  text-decoration:underline;
}

.navbar-default .navbar-nav > li > a{
  color:#fff;
}

.container:first-child{
  padding-top:100px;
}

.clearfix{
  margin-top:80px;
}

.alert{
  border-radius:0px;
}
